<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd"
       default-lazy-init="true">

    <import resource="classpath*:http/spring/http_common.xml"/>
    <import resource="classpath*:http/spring/http_client.xml"/>
    <import resource="classpath*:http/spring/http_htmlunit.xml"/>
    <import resource="classpath*:http/spring/http_urlconnection.xml"/>

    <bean class="com.adtime.http.resource.url.CookieRegister" lazy-init="false"
          p:cookieConf="http/config/cookies.conf">
        <property name="webResourceList">
            <list>
                <ref bean="webResourceHttpClient"/>
                <ref bean="webResourceHtmlUnit"/>
                <ref bean="webResourceUrlConnection"/>
            </list>
        </property>
    </bean>

</beans>
